*{
	margin: 0;
	padding: 0;
	color: #FFF;
	text-align: center;
}

#Pesquisa{
	background-color: #202124;
	height: 86vh;
}

#PrimeiroRodapé{
	background-color: #171717;
	height: 6.9vh;
	border-bottom: 1px solid #202124;
}

.Rodapé{
	background-color: #171717;
	height: 6.9vh;
}

.img{
	margin: 4.5%;
}

.CaixaDePesquisa{
	width: 30%;
	padding: 5px 8px 0px 14px;
	margin: -37px 0px 0px;
	text-align: left;
	color: black;
}

.Brasil{
	font: 15px arial, sans-serif;
	color: #9AA0A6;
	padding: 15px 30px;
	margin-right: 95%;
}

.Rodapé li{
	font: 15px arial, sans-serif;
	color: #9AA0A6;
	display: inline-block;
	cursor: pointer;
	padding: 8px;
}